
body {

    font-family: 'Nunito Sans', sans-serif;
    margin:0;
}

.container{

    display: flex;
    padding-left: 80px;
    padding-right: 80px;
  
}

.banner img {

    background-repeat: no-repeat;
    background-position: left;
    margin-top:-150px

}




/* content div */

.content{

    width:50%;
    text-align: left;
    margin-top:-70px;
    margin-bottom:150px;
}

.container h1{

    font-size: 60px;
}

.content span{

    color:#FFA500;
}

.content h4{

    font-size:22px;
    font-weight: 600;
}

.content p{

    color:#696969;
    font-size: 20px;
    padding-right: 45px;
}

.button{

    margin-top:35px;
}

.button a{

    color:white;
    padding:10px 35px;
    background-image: linear-gradient(#FF6B4E, #FF9B76);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
}


/* content end */




 /* image div start */

.image{

    width:50%;
    text-align: right;
    margin-top:-30px
    
}

.image img{
    

    width:90%;
   
}


/* image div end */

/* section2 */

.bd-image{

    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* content1  start */

.content1{

    width:50%;
    text-align: left;
    margin-left: 80px;

}

.content1 h4{

    font-size:22px;
    font-weight: 600;
}




.content1 p{

    color:#696969;
    font-size: 20px;
    
}

/* content1 end */



.image1{

    width:50%;
    text-align: left;
}

.image1 img{

    width:90%;
}
/* 
image1 end */

/* card section */



.section-card{

    margin-bottom: 200px;
    margin-top:150px;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}

    
.head h1{
    font-size:50px;
}
.card1{

    width:47%;

    box-shadow: 10px 10px 40px gray;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border-left: 8px solid;
    border-image:linear-gradient(#FF9F79, #FF6447);
    border-image-slice:2;
}

.card1 h1{

    font-size:43px;
}
.card1 h3{

    color:#FFA500;
    font-weight: 700;
    font-size:23px;
}
.card1 p{

    color:#696969;
    font-size:20px;
}

.card2{

    width:47%;
    
    box-shadow: 10px 10px 40px gray;
    margin-left: 6%;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border-left: 8px solid;
    border-image:linear-gradient(#0003FF, #00FBFF);
    border-image-slice:20;
}

.card2 h1{

    font-size:45px;
}
.card2 h3{

    color:#FFA500;
    font-weight: 700;
    font-size:23px;
}
.card2 p{

    color:#696969;
    font-size:20px;
}

/* card end section */

/* footer start section */

.footer p{

    text-align: center;
    color:#707070;
    font-size: 19px;
}